{% extends 'base_generic.html' %}

{% block title %}Listado de Préstamos{% endblock %}

{% block content %}
  <h1>Listado de Préstamos</h1>

  <ul>
    {% for prestamo in prestamos %}
      <li class="prestamo-item">
        <div class="prestamo-info">
          <strong>Libro:</strong> {{ prestamo.libro.titulo }}<br>
          <strong>Cliente:</strong> {{ prestamo.cliente.nombre }}<br>
          <strong>Fecha Préstamo:</strong> {{ prestamo.fecha_prestamo }}<br>
          <strong>Fecha Devolución:</strong> {{ prestamo.fecha_devolucion }}
        </div>
        <div class="prestamo-actions">
          <a href="{% url 'detalle_prestamo' prestamo.id %}">(Detalles)</a>
          <a href="{% url 'modificar_prestamo' prestamo.id %}">(Editar)</a>
          <a href="{% url 'eliminar_prestamo' prestamo.id %}">(Eliminar)</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'agregar_prestamo' %}">Agregar Préstamo</a>
{% endblock %}